@import '~Styles/global.scss';

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  margin-top: 40px;
  margin-bottom: 70px;

  .profileContainer {
    display: block;
    width: 120px;
    height: 120px;
    margin-bottom: 25px;

    .profileImage {
      width: 100%;
      height: 100%;
      border-radius: 100%;
      box-shadow: 0 5px 15px $light-box-shadow-link;
      transition: filter 200ms ease-out;

      @media (prefers-color-scheme: dark) {
        box-shadow: 0 5px 15px $dark-box-shadow-link;
      }
    }
  }

  .title-by {
    display: flex;
    align-items: center;
    height: 10px;
    width: 100%;
    overflow: visible;
    background-color: $theme-color;
    transform: rotate(-7deg);

    @media (prefers-color-scheme: dark) {
      background-color: $theme-color-dark;
    }
    
    @media screen and (min-width: $mobile-width) {
      height: 15px;
      margin-bottom: 20px;
    }

    .string {
      @include textBorder(white, 3);

      margin-left: 10px;
      color: $text-black;
      font-size: 33px;
      font-weight: 900;
      font-family: $title-font;

      @media (prefers-color-scheme: dark) {
        @include textBorder($dark-gray, 3);

        color: $text-white;
        transition: all 200ms ease-in-out;
      }
      
      @media screen and (min-width: $mobile-width) {
        @include textBorder(white, 4);
        font-size: 45px;
        
        @media (prefers-color-scheme: dark) {
          @include textBorder($dark-gray, 4);
        }
      }
    }
  }
}
