@import '~Styles/global';

.link-container {
  position: relative;
  display: inline-block;
  margin: 0 1px;
  color: inherit;
  transition: all 100ms ease-in-out;
  z-index: 0;

  &::after {
    position: absolute;
    content: '';
    right: -1px;
    bottom: 4px;
    left: -1px;
    height: 8px;
    background-color: $theme-color;
    z-index: -1;
    transition: all 100ms ease-out;
    
    @media (prefers-color-scheme: dark) {
      background-color: $theme-color-dark;
    }
  }
  
  &:hover {
    &::after {
      height: 20px;
    }
  }
}
