@import "~Styles/global";

.wrapper {
  padding-left: 30px;
  color: $text-black;
  font-size: $content-text-size;
  list-style: decimal;

  @media (prefers-color-scheme: dark) {
    color: $text-white;
  }

  li {
    margin-bottom: 5px;
    color: inherit;
    font-size: inherit;
    line-height: 1.7;
  }
}
