@import '~Styles/global';

.post-container {
  @media (prefers-color-scheme: dark) {
    color: $background-dark;
  }

  .post-meta {

    .post-title {
      margin-top: 20px;
      font-size: 40px;
      font-family: $title-font;
      font-weight: bold;
      line-height: 50px;
      color: $text-black;
      word-wrap: normal;
      word-break: keep-all;
      white-space: pre-line;

      @media (prefers-color-scheme: dark) {
        color: $text-white;
      }
    }

    .profileImg {
      width: 40px;
      height: 40px;
      border-radius: 100%;
      margin-bottom: 5px;
    }

    .post-author-wrapper {
      font-family: $title-font, sans-serif;
      font-size: 17px;
      font-weight: bold;
      color: $text-black;

      @media (prefers-color-scheme: dark) {
        color: $text-white;
      }

      .post-author {
        font-size: 20px;
      }
    }

    .post-date {
      font-size: 14px;
      font-weight: lighter;
      font-family: $title-font, sans-serif;
      color: grey;
      margin-top: 10px;
    }
  }

  .content {
    font-family: $content-font, sans-serif;
    line-height: 1.9;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 20px;

    @media (prefers-color-scheme: dark) {
      border-top: 1px solid rgb(100, 100, 100);
    }

    img[alt=gif] {
      width: 100%;
    }
  }
}
