.post-container {
  @media (prefers-color-scheme: dark) {
    color: rgb(220, 220, 220)
  }

  .post-meta {

    .post-title {
      font-size: 40px;
      font-family: 'UhBee QUEEN J';
      line-height: 50px;
      color: rgba(0,0,0,.8);
      word-wrap: normal;
      word-break: keep-all;
      white-space: pre-line;

      @media (prefers-color-scheme: dark) {
        color: white;
      }
    }

    .post-author-wrapper {
      font-family: 'UhBee QUEEN J', sans-serif;
      font-size: 17px;
      font-weight: bold;
      margin-top: 10px;
      color: rgba(0,0,0,.8);

      @media (prefers-color-scheme: dark) {
        color: white;
      }

      .post-author {
        font-size: 20px;
      }
    }

    .post-date {
      font-size: 14px;
      font-weight: lighter;
      font-family: 'UhBee QUEEN J', sans-serif;
      color: grey;
      margin-top: 3px;
    }
  }

  .content {
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 1.9;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 15px;

    @media (prefers-color-scheme: dark) {
      border-top: 1px solid rgb(100, 100, 100);
    }
  }
}
