@import '~Styles/global';

.post-container {
  @media (prefers-color-scheme: dark) {
    color: $text-white;
  }

  .post-meta {
    margin: 20px 0 0;

    .post-author-wrapper {
      display: flex;
      align-items: center;
      font-family: $title-font;
      font-size: 17px;
      font-weight: bold;
      color: $text-black;

      @media (prefers-color-scheme: dark) {
        color: $text-white;
      }
      
      .backIcon {
        display: inline-block;
      }
      
      .profileImg {
        width: 25px;
        height: 25px;
        margin-left: 10px;
        border-radius: 100%;
      }
    }

    .post-title {
      margin-top: 15px;
      font-size: 40px;
      font-family: $title-font;
      font-weight: 900;
      line-height: 50px;
      color: $text-black;
      word-wrap: normal;
      word-break: keep-all;
      white-space: pre-line;

      @media (prefers-color-scheme: dark) {
        color: $text-white;
      }
    }

    .post-date {
      font-size: 14px;
      font-family: $title-font;
      color: grey;
      margin-top: 5px;
    }
  }
  
  .divider {
    width: 50px;
    height: 3px;
    margin: 25px 0;
    background-color: $theme-color;
    
    @media (prefers-color-scheme: dark) {
      background-color: $theme-color-dark;
    }
  }

  .content {
    font-family: $content-font;
    line-height: 1.9;

    img[alt=gif] {
      width: 100%;
    }
  }
}
