<div>
  <slot />
</div>

<style lang="scss">
  div {
    position: relative;
    padding: 8px 8px 8px 18px;
    margin: 4px 0;
    font-style: italic;

    &::after {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 5px;
      background-color: grey;
      content: '';
    }
  }
</style>
