 @import '~Styles/global.scss';

.link-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
  margin-top: 45px;

  .heading1 {
    padding-top: 65px;
    margin-top: -65px;
    margin-right: 10px;
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: bold;
    line-height: 35px;
    color: $text-black;
    transition: all 100ms ease-in-out;

    &:hover {
      color: $theme-color;
    }

    @media (prefers-color-scheme: dark) {
      color: $text-white;

      &:hover {
        color: $theme-color-dark;
      }
    }
  }
}

