.codeWrapper {
  overflow: hidden;
  overflow-x: scroll;
  padding: 15px;
  background-color: rgba(0, 0, 0, .05);
  color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  font-family: 'FiraCode' !important;
  font-size: 14px;
  line-height: 22px;
  word-wrap: normal;
  word-break: keep-all;

  @media (prefers-color-scheme: dark) {
    color: inherit;
    background-color: rgba(0,0,0,.3);
  }
}
