@import '~Styles/global.scss';

.codeWrapper {
  overflow: hidden;
  overflow-x: scroll;
  padding: 15px;
  margin: 15px 0;
  background-color: rgba(0, 0, 0, .05);
  color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  border: 2px solid rgba(150, 150, 150, 0.2);
  font-family: 'FiraCode' !important;
  line-height: 22px;
  word-wrap: normal;
  word-break: keep-all;
  font-variant-ligatures: common-ligatures;

  @media (prefers-color-scheme: dark) {
    color: inherit;
    background-color: rgba(0, 0, 0, .3);
  }
}
