.singleCodePiece {
  display: inline-block;
  padding: 0 7px;
  background-color: rgba(0, 0, 0, .05);
  font-family: 'FiraCode';
  font-size: 13px;
  color: rgba(255, 0, 0, .8);
  border-radius: 5px;

  @media (prefers-color-scheme: dark) {
    background-color: rgba(0, 0, 0, .3);
    color: #2a77aa;
  }
}
