$theme-color: rgb(246, 81, 45);
$theme-color-dark: rgb(42, 119, 170);

$background-dark: rgb(220, 220, 220);

$title-font: 'Montserrat';
$content-font: 'Noto Sans KR';

$text-black: rgb(10, 10, 10);
$text-white: rgb(250, 250, 250);

$light-gray: rgb(150, 150, 150);
$gray: rgb(80, 80, 80);
$dark-gray: rgb(20, 20, 20);

$light-box-shadow-link: rgba(0, 0, 0, 0.25);
$light-box-shadow-head: rgba(0, 0, 0, 0.05);
$dark-box-shadow-link: rgba(0, 0, 0, 0.8);
$dark-box-shadow-head: rfgba(0, 0, 0, 0.6);

$content-text-size: 15px;

$mobile-width: 600px;

$header-line-z-index: 10000000;

$smooth-transition: cubic-bezier(.15, 1.16, 1, 1);

%appleBackdrop {
	backdrop-filter: blur(20px) saturate(180%);
	background-color: rgba(255, 255, 255, 0.72);

	@media (prefers-color-scheme: dark) {
		background-color: rgba(29, 29, 31, 0.72);
	}
}

@mixin textBorder($color, $width) {
	text-shadow:
		-#{$width}px -#{$width}px 0 #{$color},
		#{$width}px -#{$width}px 0 #{$color},
		-#{$width}px #{$width}px 0 #{$color},
		#{$width}px #{$width}px 0 #{$color};
}

// reset.css

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
input {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
