$theme-color: rgb(115, 190, 159);
$theme-color-dark: rgb(170, 101, 143);

$title-font: 'Montserrat', sans-serif;
$content-font: 'Inter', sans-serif;

$text-black: rgb(41, 41, 41);
$text-white: rgb(220, 220, 220);

$light-gray: rgb(150, 150, 150);
$gray: rgb(80, 82, 85);
$dark-gray: rgb(29, 30, 34);

$light-box-shadow-link: rgba(0, 0, 0, 0.1);
$light-box-shadow-head: rgba(0, 0, 0, 0.02);
$dark-box-shadow-link: rgba(0, 0, 0, 0.55);
$dark-box-shadow-head: rfgba(0, 0, 0, 1);

$content-text-size: 16px;

$mobile-width: 650px;

$header-line-z-index: 10000000;

$smooth-transition: cubic-bezier(.15, 1.16, 1, 1);

%appleBackdrop {
  backdrop-filter: blur(20px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.72);

  @media (prefers-color-scheme: dark) {
    background-color: rgba(29, 29, 31, 0.72);
  }
}
