@font-face {
  font-family: "neodgm";
  src: url("../static/fonts/neodgm.woff");
}

@font-face {
  font-family: 'UhBee QUEEN J';
  src: url("../static/fonts/UhBee\ QUEEN\ J.ttf");
}

@font-face {
  font-family: 'Hack';
  src: url("../static/fonts/Hack-Regular.ttf");
}
