$theme-color: rgb(246, 81, 45);
$theme-color-dark: rgb(42, 119, 170);

$background-dark: rgb(220, 220, 220);

$title-font: 'UhBee QUEEN J';
$content-font: 'Noto Sans KR';

$text-black: rgba(0, 0, 0, .8);
$text-white: rgba(0, 0, 0, .05);

$content-text-size: 15px;
