.quote-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  .quote-block {
    width: 5px;
    align-self: stretch;
    background-color: rgb(192, 131, 192);

    @media (prefers-color-scheme: dark) {
      background-color: rgb(247, 204, 64)
    }
  }

  .contents {
    margin-left: 20px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);

    @media (prefers-color-scheme: dark) {
      color: rgb(130, 130, 130);
    }
  }
}