.quote-container {
  display: flex;
  align-items: center;
  min-height: 50px;
  margin: 5px 0;

  .quote-block {
    flex: 0 0 auto;
    width: 5px;
    align-self: stretch;
    background-color: rgb(230, 230, 230);

    @media (prefers-color-scheme: dark) {
      background-color: rgb(50, 50, 50)
    }
  }

  .contents {
    box-sizing: border-box;
    margin-left: 20px;
    font-size: 18px;
    
    p {
      color: rgba(0, 0, 0, 0.5);
    }

    @media (prefers-color-scheme: dark) {
      p {
        color: rgb(170, 170, 170);
      }
    }
  }
}
