.root-container {
  margin: 0 auto;
  max-width: 600px;
  padding: 0 15px;

  .footer-container {
    height: 50px;
    margin-top: 30px;
    text-align: center;
    font-size: 13px;
    color: grey;
  }
}