.root-container {
  margin: 0 auto;
  max-width: 600px;
  padding: 45px 15px 0 15px;
  color: black;
  height: 100%;

  .footer-container {
    font-family: 'Noto Sans KR', sans-serif;
    height: 50px;
    margin-top: 30px;
    text-align: center;
    font-size: 13px;
    color: grey;
  }
}