@import '~Styles/global';

.wrapper {
  position: relative;
  cursor: pointer;
  padding: 0 1px 1px 1px;
  box-shadow: inset 0 -5px 0 $theme-color;
  transition: box-shadow 300ms $smooth-transition;
  
  @media (prefers-color-scheme: dark) {
    box-shadow: inset 0 -5px 0 $theme-color-dark;
  }
  
  &.isShowing, &:hover {
    box-shadow: inset 0 -20px 0 $theme-color;
    
    @media (prefers-color-scheme: dark) {
      box-shadow: inset 0 -20px 0 $theme-color-dark;
    }
  }
}
