---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <div>
      <img src="/cat.jpeg"/>
      <br>
      Hello, world!
      <br>
      <br>
      개발자 정진우입니다.
      <br>
      TypeScript, Rust, Go 에 관심이 있습니다.
      <br>
      <br>
      가끔 이런저런 생각을 적어둡니다.
    </div>
    <Footer />
  </body>
</html>

<style lang="scss">
  img {
    border-radius: 100%;
    width: 90px;
    height: 90px;
    margin: 10px 0 26px;
  }
  
  div {
    text-align: center;
    margin-bottom: 18px;
  }
</style>
