---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <div>
      <img src="/cat.jpeg"/>
      <br>
      개발자 정진우입니다.
      <br>
      JavaScript(TypeScript), Rust, Go 에 관심을 갖고 있습니다.
      <br>
      <br>
      글을 쓰는 직업으로서 프로그래머는 좋은 글쓰기 실력을 가져야 합니다.
      <br>
      오늘도 다양한 생각을 이 곳에 정리하고 있습니다.
      <br>
      <br>
      댓글은 언제나 환영합니다 :)
    </div>
    <Footer />
  </body>
</html>

<style lang="scss">
  img {
    border-radius: 100%;
    width: 90px;
    height: 90px;
    margin: 10px 0 26px;
  }
  
  div {
    text-align: center;
    margin-bottom: 18px;
  }
</style>
