---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
  <slot />
</a>

<style lang="scss">
  a {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 25%;
    height: 38px;
    border-radius: 38px;
  }
  a.active {
    background-color: rgba(0, 0, 0, 0.08);
    font-weight: bolder;
  }
</style>
