---
import { Icon } from "astro-icon/components";
---

<header class="max-w-xl m-auto px-3.5 py-1.5">
  <div class="flex justify-between items-center h-14"> 
    <a href="/" class="text-2xl font-title text-inherit">
      leo.works
    </a>
    <div id="flex justify-end">
      <a href="/rss.xml" target="_blank"><Icon name="octicon:rss-16"/></a>
      <a href="https://github.com/jwoo0122" target="_blank"><Icon name="octicon:mark-github-16"/></a>
      <a href="https://twitter.com/jwoo0122" target="_blank"><Icon name="x-twitter"/></a>
    </div>
  </div>
</header>

<style lang="scss">
  #contacts {
    /*display: flex;*/
    /*justify-content: end;*/
    /*line-height: 0;*/

    a {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 34px;
      height: 34px;
      font-size: 20px;
      text-decoration: none;
      color: inherit; 
    }
    
    a + a {
      margin-left: 8px;
    }
    
    [data-icon] {
      width: 16px;
    }
  }
</style>
