---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {
  href: string;
}

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = (() => {
  if (href === '/') {
    return pathname === '/'
  } else if (href === '/posts') {
    return pathname !== '/'
  } else {
    return false
  }
})();

const isOutlink = !href.startsWith('/');
---

<a href={href} class:list={[className, { active: isActive, outlink: isOutlink }]} {...props}>
  <slot />
</a>

<style lang="scss">

  a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 25%;
    height: 42px;
    border-radius: 10px;
    color: #222;
    font-size: 20px;
    
    &.active {
      font-weight: bold;
      background-color: #e3e3e3;
    }
  }
  
  html.dark {
    a {
      color: #bbb;
      
      &.active {
        background-color: #222;
      }
    }
  }
</style>
