---
import Icon from "astro-icon";
---

<header>
  <div id="container">
    <a href="/" id="home">
      leo.works
    </a>
    <div id="contacts">
      <a href="/rss.xml" target="_blank"><Icon pack="octicon" name="rss-16"/></a>
      <a href="https://github.com/jwoo0122" target="_blank"><Icon pack="octicon" name="mark-github-16"/></a>
      <a href="https://twitter.com/jwoo0122" target="_blank"><Icon name="x-twitter"/></a>
    </div>
  </div>
</header>

<style lang="scss">
  header {
    position: sticky;
    top: 0;
    background-color: #a91e4a;
    padding: 0.2em 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    
    #container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      max-width: 56ch;
      margin: 0 auto;
      padding: 0 14px;
      box-sizing: border-box;
      
      #home {
        text-decoration: none;
        outline: none;
        font-family: "Libre Barcode 128 Text", system-ui;
        font-size: 2rem;
        color: white;
        font-weight: 400;
      }

      #contacts {
        display: flex;
        justify-content: end;
        line-height: 0;

        a {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 34px;
          height: 34px;
          font-size: 20px;
          text-decoration: none;
          color: white; 
        }
        
        a + a {
          margin-left: 8px;
        }
        
        [astro-icon] {
          width: 16px;
        }
      }
    }
  }
</style>
