---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
// const isActive = href === pathname || href === pathname.replace(/\/$/, '');
const isActive = (() => {
  if (href === '/') {
    return pathname === '/'
  }

  return pathname.startsWith(href)
})();
const isOutlink = !href.startsWith('/');
---

<a href={href} class:list={[className, { active: isActive, outlink: isOutlink }]} {...props}>
  <slot />
  <div id="indicator" />
</a>

<style lang="scss">
  a {
    position: relative;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 25%;
    height: 38px;
  }

  a.active {
    font-weight: bold;
    
    #indicator {
      position: absolute;
      bottom: -5px;
      width: 60%;
      height: 3px;
      background-color: black;
    }
  }
  
  a.outlink {
    color: rgb(43, 85, 174);
  }
</style>
