---
import HeaderLink from './HeaderLink.astro';
import { SITE_DESCRIPTION, SITE_TITLE_FIRST, SITE_TITLE_SECOND } from '../consts';
---

<header>
  <a href="/" id="home">
    <h1 id="head" title={`[하학상달]: ${SITE_DESCRIPTION}`}>
      <div>
        {SITE_TITLE_FIRST}
      </div>
      <div>
        {SITE_TITLE_SECOND}
      </div>
    </h1>
  </a>
  <nav>
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/posts">Posts</HeaderLink>
    <HeaderLink href="https://twitter.com/jwoo0122" target="_blank">Twitter</HeaderLink>
    <HeaderLink href="https://github.com/jwoo0122" target="_blank">GitHub</HeaderLink>
  </nav>
</header>

<style lang="scss">
  #home {
    text-decoration: none;
    outline: none;
  }
  
  header {
    margin: 0em 0 2em;
  }
  h2 {
    margin: 0.5em 0;
  }
  
  nav {
    height: 38px;
    padding: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #head {
    width: 100%;
    font-size: 58px;
    text-align: center;
    margin: 50px 0;
    color: #aaa;
    font-weight: 100;
    
    div {
      line-height: 1;
    }
  }
  
  html.dark {
    #head {
      color: #333;
    }
  }
  
  #description {
    display: block;
    font-size: 12px;
    text-align: center;
    margin-bottom: 30px;
  }
</style>
