---
import HeaderLink from './HeaderLink.astro';
import { SITE_DESCRIPTION, SITE_TITLE, SITE_TITLE_FIRST, SITE_TITLE_SECOND } from '../consts';
---

<header>
  <h1 id="head">
    <div>
      {SITE_TITLE_FIRST}
    </div>
    <div>
      {SITE_TITLE_SECOND}
    </div>
  </h1>
  <span id="description">{`[하학상달]: ${SITE_DESCRIPTION}`}</span>
  <nav>
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/posts">Posts</HeaderLink>
    <HeaderLink href="https://twitter.com/jwoo0122" target="_blank">Twitter</HeaderLink>
    <HeaderLink href="https://github.com/jwoo0122" target="_blank">GitHub</HeaderLink>
  </nav>
</header>

<style lang="scss">
  header {
    margin: 0em 0 2em;
  }
  h2 {
    margin: 0.5em 0;
  }
  
  nav {
    background-color: rgba(0, 0, 0, 0.05);
    height: 38px;
    padding: 6px;
    border-radius: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #head {
    width: 100%;
    font-size: 58px;
    text-align: center;
    margin: 20px 0;
    
    div {
      line-height: 1;
    }
  }
  
  #description {
    display: block;
    font-size: 12px;
    text-align: center;
    margin-bottom: 30px;
    color: lightgrey;
  }
</style>
