.root-container {
  margin: 0 auto;
  max-width: 600px;
  padding-top: 0;

  .footer-container {
    height: 50px;
    margin-top: 20px;
    text-align: center;
    font-size: 13px;
    color: grey;
  }
}