---
interface Props {
  title: string
  date: string
  slug: string
  description: string
}

const { title, date, slug, description } = Astro.props;
---

<a id="preview-link" href={`/${slug}`}>
  <li>
    <h2>{title}</h2>
    <span id="description">
      {description}
    </span>
    <span id="date">{date}</span>
  </li>
</a>

<style lang="scss">
  #preview-link {
    text-decoration: none;
    outline: none;
    color: black;
  }
  
  h2 {
    margin: 0 0 8px;
  }
  
  li {
    padding: 16px;
    margin-bottom: 20px;
    border-radius: 20px;
    transition: background-color ease-in-out 0.1s, transform ease-in-out 0.1s;
    
    &:hover {
      background-color: rgba(0, 0 ,0, 0.05);
      transform: scale(1.01);
    }
  }
  
  #description {
    display: block;
    margin-bottom: 4px;
  }
  
  #date {
    font-size: 13px;
    color: grey;
  }
</style>
