@import '~Styles/global';

.inputWrapper {
  width: 100%;
  box-sizing: border-box;

  @media screen and (min-width: $mobile-width) {
    padding: 0 15px;
  }

  .searchInput {
    width: 100%;
    padding: 10px;
    color: $text-black;
    font-size: 15px;
    font-family: $content-font;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: rgba(0, 0, 0, 0.05);
    transition: all 150ms ease-in-out;

    &:focus {
      transition: all 150ms ease-in-out;

      &::placeholder {
        transition: all 150ms ease-in-out;
        color: rgba(0, 0, 0, 0.1);
      }
    }

    &::placeholder {
      transition: all 150ms ease-in-out;
      color: rgba(0, 0, 0, 0.2);
    }

    @media (prefers-color-scheme: dark) {
      color: $text-white;
      background-color: rgba(255, 255, 255, 0.05);

      &:focus::placeholder {
        color: rgb(50, 50, 50);
      }

      &::placeholder {
        transition: all 150ms ease-in-out;
        color: $gray;
      }
    }
  }
}
