@import '~Styles/global.scss';

.headWrapper {
  @extend %appleBackdrop;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 0 15px;
  color: $text-black;
  z-index: $header-line-z-index - 1;
  font-family: $title-font;
  will-change: top;
  transition: top 300ms $smooth-transition;
  box-sizing: border-box;
  box-shadow: 0 5px 8px $light-box-shadow-head;
  border-bottom: 1px solid rgba(0, 0, 0, .05);

  &:not(.show) {
    top: -55px;
    transition: top 600ms $smooth-transition;
  }

  @media (prefers-color-scheme: dark) {
    color: $text-white;
    box-shadow: 0 5px 8px $dark-box-shadow-head;
    border-bottom: 1px solid rgba(255, 255, 255, .05);
  }

  .headContents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: $mobile-width;
    margin: 0 auto;

    .blogName {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      .blogNameText {
        color: $text-black;
        font-size: 17px;
        font-weight: 600;

        @media (prefers-color-scheme: dark) {
          color: $text-white;
          transition: all 200ms ease-in-out;
        }
      }
    }

    .postTitle {
      font-size: 16px;
      font-weight: bold;
    }
  }
}
