@import '~Styles/global.scss';

@keyframes blink1 {
  0% {
    opacity: 25%;
  }

  25% {
    opacity: 100%;
  }

  50% {
    opacity: 25%;
  }

  100% {
    opacity: 25%;
  }
}

@keyframes blink2 {
  0% {
    opacity: 25%;
  }

  25% {
    opacity: 25%;
  }

  50% {
    opacity: 100%;
  }

  75% {
    opacity: 25%;
  }

  100% {
    opacity: 25%;
  }
}

@keyframes blink3 {
  0% {
    opacity: 25%;
  }

  50% {
    opacity: 25%;
  }

  75% {
    opacity: 100%;
  }

  100% {
    opacity: 25%;
  }
}

.rootContainer {
  position: relative;
  min-height: 200px;

  .loaderContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;

    .loaderDiv {
      width: 10px;
      height: 10px;
      background-color: $light-gray;
      border-radius: 100%;
      animation-duration: .75s;
      animation-iteration-count: infinite;

      &:not(:last-child) {
        margin-right: 10px;
      }

      &.one {
        animation-name: blink1;
      }

      &.two {
        animation-name: blink2;
      }

      &.three {
        animation-name: blink3;
      }
    }
  }
}
