@import '~Styles/global.scss';

.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999999999;
  pointer-events: none;
  
  .dim {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 400ms $smooth-transition;
    pointer-events: none;
    
    &.show {
      pointer-events: auto;
      opacity: 1;
      cursor: pointer;
    }
  }
  
  .content {
    position: absolute;
    z-index: 9999999999;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: $mobile-width;
    min-height: 80px;
    margin: 0 auto;
    padding: 15px;
    box-sizing: border-box;
    color: $text-black;
    background-color: white;
    border: 1px solid rgba(150, 150, 150, 0.15);
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
    transform: translateY(120%);
    transition: transform 300ms $smooth-transition;
    opacity: 1;
    pointer-events: auto;
    cursor: initial;
    font-family: $content-font;
    line-height: 1.4;

    &.show {
      transform: translateY(calc(-30px - env(safe-area-inset-bottom)));
    }
    
    @media (prefers-color-scheme: dark) {
      color: $text-white;
      background-color: $dark-gray;
    }
    
    .targetContent {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      font-size: 14px;
      opacity: .7;
      
      .targetContentTitle {
        display: flex;
        max-width: 80%;
        
        .label {
          flex: 0 0 auto;
          width: 10px;
          height: 2px;
          margin-top: 8px;
          margin-right: 5px;
          margin-left: 2px;
          background-color: $theme-color;
          
          @media (prefers-color-scheme: dark) {
            background-color: $theme-color-dark;
          }
        }
      }
      
      .closeButton {
        flex: 0 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 25px;
        margin-top: -5px;
        transform: translateX(5px);
        margin-right: 5px;
        border-radius: 5px;
        cursor: pointer;
        
        .closeChevron {
          width: 10px;
          height: 10px;
          border-width: 0 2px 2px 0;
          box-sizing: border-box;
          border-style: solid;
          border-color: $dark-gray;
          transform: rotate(45deg);
          margin-top: -6px;
          
          @media (prefers-color-scheme: dark) {
            border-color: $light-gray;
          }
        }
      }
    }
  }
}
