@font-face {
  font-family: 'NotoSansKR';
  font-style:  normal;
  font-weight: 300;
  font-display: swap;
  src: url("NotoSansKR-Light.otf") format("otf");
}

@font-face {
  font-family: 'NotoSansKR';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("NotoSansKR-Regular.otf") format("otf");
}

@font-face {
  font-family: 'NotoSansKR';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url("NotoSansKR-Medium.otf") format("otf");
}

@font-face {
  font-family: 'NotoSansKR';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("NotoSansKR-Bold.otf") format("otf");
}

@font-face {
  font-family: 'NotoSansKR';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("NotoSansKR-Black.otf") format("otf");
}
